.detail {
    width: 100%;
    max-width: 800px;
    min-width :600px;
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.detail-title {
    color: #999999;
    border-bottom: solid 1px #C0C0C0;
    margin-top: 20px;
}

.delete-button {
    color: #999999;
    background-color: #EEEEEE;
    border: #EEEEEE;
    border-radius: 2px;
    margin-top: -35px;
    float: right;
}
.delete-button:hover {
    text-decoration: underline;
}