body {
    word-break: break-all;
}

.detail {
    width: 100%;
    max-width: 800px;
    min-width :600px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.detail-title {
    color: #999999;
    border-bottom: solid 1px #C0C0C0;
    margin-top: 20px;
}

.done-button {
    color: #999999;
    background-color: #EEEEEE;
    border: #EEEEEE;
    border-radius: 2px;
    margin-top: -38px;
    margin-right: 100px;
    float: right;
}

.edit-button {
    color: #999999;
    background-color: #EEEEEE;
    border: #EEEEEE;
    border-radius: 2px;
    margin-top: -38px;
    margin-right: 50px;
    float: right;
}

.delete-button {
    color: #999999;
    background-color: #EEEEEE;
    border: #EEEEEE;
    border-radius: 2px;
    margin-top: -38px;
    float: right;
}